<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card p-5">
                {% for c in comments %}
                    {{c}}

                    {% include 'posts/viewComments.html' %}
                    <div class="d-flex">
                        <form method="post" action="{% url 'likeComment' c.pk %}">
                            {% csrf_token %}
                            <button type="submit"><i class='fa fa-thumbs-o-up'></i></button>
                            
                            <!-- Contamos los likes del comentario -->
                            <strong>{{c.likes.all.count}}&nbsp;</strong>
                        </form>                        
                        <form method="post" action="{% url 'dislikeComment' c.pk %}">
                            {% csrf_token %}
                            &nbsp;
                            <button type="submit"><i class='fa fa-thumbs-o-down'></i></button>
                            <strong>{{c.dislikes.all.count}}&nbsp;</strong>
                        </form>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>    
