<div id="template-bg-1">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="card p-4 mb-5">
            <div class="card-header">
                <h3 class="text-center">Django Instagram </h3>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger mt-2 p-1 text-center" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            
            <div class="card-body w-100">
                <form name="login" action="" method="post">
                    {% csrf_token %}
                    <div class="input-group form-group mt-3">
                        <input type="text" class="form-control" placeholder="Usuario" name="username">
                    </div>
                    <div class="input-group form-group mt-3">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password">
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary mt-2 btn float-end  w-100">Iniciar sesión</button>
                    </div>
                </form>
            </div>
            <div class="text-center">
                <h8>¿No tienes una cuenta? </h8>
                <a href="{% url 'registerUser' %}">
                    <h8>Regístrate</h8>
                </a>
            </div>
        </div>
        <div class="form-group m-3">
            <a class="btn btn-primary mt-2 btn float-end  w-100" href="{% url 'posts' %}">
                Posts
            </a>
        </div>
    </div>
</div>